<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../css/base_css.css" />
<link rel="stylesheet" type="text/css" href="../css/table_css.css" />
<script language="javascript" src="../js/table.js"></script>

</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%" height="19" valign="bottom"><div align="center"><img src="../images/tb.gif" width="14" height="14" /></div></td>
                <td width="94%" valign="bottom"><span class="table_head"> 扣烟详细信息录入</span></td>
              </tr>
            </table></td>
            <td><div align="right"><span class="table_head">
              <input type="checkbox" name="checkbox11" id="checkbox11" />
              全选      &nbsp;&nbsp;<img src="../images/add.gif" width="10" height="10" /><a href="adduser.html"> 添加</a>   &nbsp; <img src="../images/del.gif" width="10" height="10" /> 删除    &nbsp;&nbsp;<img src="../images/edit.gif" width="10" height="10" /> 编辑   &nbsp;</span><span class="table_head"> &nbsp;</span></div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce" onmouseover="changeto()"  onmouseout="changeback()">
      <tr>
        <td width="4%" height="20" bgcolor="d3eaef" class="table_body_head_td"><div align="center">
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">香烟名称</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">单价（元）</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">数量（条）</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">总价（元）</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">品质</span></div></td>
        <td width="15%" height="20" bgcolor="d3eaef" class="table_head_td"><div align="center"><span class="table_body_head_td">基本操作</span></div></td>
      </tr>
      <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option>中华（软）</option>
				<option>中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option>玉溪（软）</option>
				<option>苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="860" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="2" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="1720"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option>假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
      <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option>中华（软）</option>
				<option selected="selected">中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option>玉溪（软）</option>
				<option>苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="400" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="1.5" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="600"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option selected="selected">假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
	  <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option>中华（软）</option>
				<option>中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option selected="selected">玉溪（软）</option>
				<option>苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="200" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="2" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="400"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option>假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
	  <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option>中华（软）</option>
				<option>中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option>玉溪（软）</option>
				<option selected="selected">苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="420" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="2" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="840"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option>假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
	  <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option selected="selected">中华（软）</option>
				<option>中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option>玉溪（软）</option>
				<option>苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="860" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="2" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="1720"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option selected="selected">假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
	  <tr>
        <td height="20" bgcolor="#FFFFFF"><div align="center">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_head_td"><div align="center"><span class="table_body_td">
			<select>
				<option>中华（软）</option>
				<option>中华（硬）</option>
				<option>芙蓉王（硬）</option>
				<option selected="selected">玉溪（软）</option>
				<option>苏烟（软）</option>
			</select>
		</span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="200" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="1.8" />
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<input type="text" value="360"
		</div></td>
        <td height="20" bgcolor="#FFFFFF" class="table_body_td"><div align="center">
			<select>
				<option>真</option>
				<option>假</option>
			</select>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="table_link"><a href="#" onclick="del()">删除</a></div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%"><div align="left"><span class="fenye"></td>
        <td width="67%"><table width="312" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td width="49"><div align="center"></div></td>
            <td width="49"><div align="center"></div></td>
            <td width="49"><div align="center"></div></td>
            <td width="49"><div align="center"></div></td>
            <td width="37" class="fenye"></td>
            <td width="22"><div align="center">
              <input type="button" value="追加" />
            </div></td>
            <td width="22" class="fenye"><div align="center"></div></td>
            <td width="35"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
  	<td colspan="5" align="center">
		<input type="button" value="入库单预览" onblur="inputstore()" />&nbsp;&nbsp;
		<input type="button" value="核价单预览" onclick="price()" />&nbsp;&nbsp;
		<input type="button" value="批准书预览" onclick="pz()" />&nbsp;&nbsp;
		<input type="button" value="提交该单" />
	</td>
  </tr>
</table>
<script language="javascript">
function price(){
	location = "preprice.html";
}

function inputstore(){
	location = "preinput.html";
}

function pz(){
	location = "pzs.html";
}
</script>
</body>
</html>
